@primaryBlue: #1890FF;
@primaryWhite: #FFF;
@primaryBlack: rgba(0, 0, 0, .6);

.zztree {
  position: relative;
  width: 100%;

  .checkbox {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid @primaryBlack;
    border-radius: 2px;
    transition: all 1s;

    &:hover {
      border-color: @primaryBlue;
      cursor: pointer;
    }

    &.checked {
      background-color: @primaryBlue;
      border: 1px solid @primaryBlue;

      & .checkbox-inner {
        position: absolute;
        width: 5px;
        height: 2px;
        background-color: @primaryBlue;
        transform: rotate(-45deg);
        top: 1px;
        left: 1px;
        border-radius: 1px;
        border-bottom: 2px solid @primaryWhite;
        border-left: 2px solid @primaryWhite;
        border-top: 2px solid @primaryBlue;
        border-right: 2px solid @primaryBlue;
      }
    }

    &.half-checked {
      border: 1px solid @primaryBlue;

      & .checkbox-inner {
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: @primaryBlue;
        width: 8px;
        height: 8px;
      }
    }
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul.zztree-node {
    position: relative;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;

    & li {
      position: relative; 
      padding-left: 18px;
    }

    & .zztree-node-name,
    & .zztree-node-no-children {
      position: relative;
      padding-left: 12px;
    }

    .zztree-switcher {
      position: absolute;
      display: inline-block;
      width: 12px;
      height: 12px;
      top: 6px;
      left: 0;
      cursor: pointer;
    }

    .zztree-switcher:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 8px solid rgba(0,0,0,.6);
    }

    .zztree-switcher-close:before {
      transform: rotate(-90deg);
    }

    .zztree-switcher-close + li {
      display: none;
    }



  }

  .zztree-node .zztree-node-name,
  .zztree-node-no-children {
    display: flex;
  }
}